                      /* navbar/header */

header{
    background-color: black;
    height: 100px;
    cursor: pointer;
    position: sticky;
}
*{
    padding: 0px;
    margin: 0px;
}

li{
    text-align: center;
    display: inline-block;
    color: white;
    size: 10px;
    cursor: pointer;
}

nav{
    position: absolute;
    top: 50px;
    right: 450px;
    gap: 50px;
    cursor: pointer;
}

.btn1{
    background-color: black;
    border: 1px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    color: white;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 300px;
    cursor: pointer;
}

.btn2{
    background-color: rgb(251, 31, 31);
    border: 1px;
    border-width: 1px;
    border-color: rgb(251, 31, 31);
    border-style: solid;
    border-radius: 30px;
    color: white;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 140px;
    cursor: pointer;
}

                             /* box 1 */

.box1{
    background-color: black;
    cursor: pointer;
    width: 100%;
    height: 1150px;
}

.arrow{
    width: 30px;
    border-radius: 90%;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

h1{
    position: absolute;
    top: 700px;
    color: white;
    padding-left: 500px;
    text-align: center;
}

p{
    position: absolute;
    top: 400px;
    color: white;
    padding: 400px;
    text-align: center;
}

.parent1{
    position: relative;
    z-index: 1;
}

.maincard1{
    position: relative;
}

.resturent{
    position: absolute;
    top: -350px;
    padding-left: 100px;
}

.maincard2{
    position: relative;
}

.express{
    position: absolute;
    top: -350px;
    padding-left: 400px;
}

.maincard3{
    position: relative;
}

.village{
    position: absolute;
    top: -350px;
    padding-left: 700px;
}

.maincard4{
    position: relative;
}

.signature{
    position: absolute;
    top: -350px;
    padding-left: 1000px;
}

.btn3{
    background-color: black;
    color: white;
    padding: 6px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    /* text-align: center; */
    position: absolute;
    top: -150px;
    right: 1050px;
    border: 1px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

.btn4{
    background-color: black;
    color: white;
    padding: 6px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    /* text-align: center; */
    position: absolute;
    top: -150px;
    right: 750px;
    border: 1px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

.btn5{
    background-color: black;
    color: white;
    padding: 6px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    /* text-align: center; */
    position: absolute;
    top: -150px;
    right: 450px;
    border: 1px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

.btn6{
    background-color: black;
    color: white;
    padding: 6px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    /* text-align: center; */
    position: absolute;
    top: -150px;
    right: 150px;
    border: 1px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

                           /* box 2 */

.mainbox2{
    position: relative;
}

.box2{
    background-color: rgb(16, 16, 16);
    width: 100%;
    height: 1150px;
}

.h2{
    position: absolute;
    top: 50px;
    color: white;
    padding-left: 550px;
    text-align: center;
}

.p2{
    position: absolute;
    top: -250px;
    padding-left: 400px;
    color: white;
    text-align: center;
}

.mainimg{
    position: relative;
}

.img1{
    position: absolute;
    top: -850px;
    left: 50px;
}

.img2{
    position: absolute;
    top: -500px;
    right: 170px;
}

.parent2{
    position: relative;
    color: white;
    top: 400px;
    z-index: 2;
}

.city1{
    position: absolute;
    top: -1240px;
    right: 500px;
    color: rgb(165, 21, 21);
    font-size: 1.2rem;
}

.name1{
    position: absolute;
    top: -1200px;
    right: 400px;
    font-size: 2rem;
}

.adress1{
    position: absolute;
    top: -1130px;
    right: 520px;
}

.no1{
    position: absolute;
    top: -1100px;
    right: 580px;
}

.btn7{
    width: 170px;
    height: 50px;
    z-index: 2;
    background-color: black;
    color: white;
    border: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(48, 48, 48);
    border-radius: 30px;
    position: absolute;
    top: -1050px;
    right: 550px;
    padding: 5px 2px 2px 5px;
}

.btnimg1{
    width: 30px;
    border-radius: 50%;
    margin: 0;
}

                    /* sidebox2 */

.parent3{
    position: relative;
    top: 400px;
    color: white;
    z-index: 2;
}

.city2{
    position: absolute;
    top: -890px;
    left: 60px;
    color: rgb(165, 21, 21);
    font-size: 1.2rem;
}

.name2{
    position: absolute;
    top: -850px;
    left: 60px;
    font-size: 2rem;
}

.adress2{
    position: absolute;
    top: -780px;
    left: 60px;
}

.no2{
    position: absolute;
    top: -750px;
    left: 60px;
}

.btn8{
    width: 170px;
    height: 50px;
    z-index: 2;
    background-color: black;
    color: white;
    border: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(48, 48, 48);
    border-radius: 30px;
    position: absolute;
    top: -700px;
    left: 60px;
    padding: 5px 2px 2px 5px;
}

.btnimg2{
    width: 30px;
    border-radius: 50%;
    margin: 0;
}

.box3{
    background-color: black;
    cursor: pointer;
    color: white;
    width: 100%;
    height: 2650px;
    position: relative;
}

.h3{
    position: absolute;
    top: -600px;
    font-size: 1.7rem;
}

.h4{
    position: absolute;
    top: 170px;
    left: 450px;
    font-size: 2rem;
}

.parent4{
    position: relative;
}

                            /* img3 */

.img3{
    position: absolute;
    left: 20px;
    top: 300px;
}

.city3{
    color: rgb(176, 22, 22);
    position: absolute;
    top: 580px;
    left: 130px;
    font-size: 1.2rem;
}

.name3{
    position: absolute;
    top: -590px;
    left: 175px;
    color: white;
    font-size: 1.4rem;
}

.adress3{
    position: absolute;
    top: 680px;
    left: 40px;

}

.no3{
    position: absolute;
    top: 730px;
    left: 130px;
}

                          /* img4 */

.img4{
    position: absolute;
    top: 300px;
    left: 450px;
}

.city4{
    color: rgb(176, 22, 22);
    position: absolute;
    top: 580px;
    left: 580px;
    font-size: 1.2rem;
}

.name4{
    position: absolute;
    top: -190px;
    left: 165px;
    color: white;
    font-size: 1.4rem;
}

.adress4{
    position: absolute;
    top: 680px;
    left: 440px;

}

.no4{
    position: absolute;
    top: 730px;
    left: 570px;
}

                             /* img5 */

.img5{
    position: absolute;
    top: 300px;
    right: 120px;
}

.city5{
    color: rgb(176, 22, 22);
    position: absolute;
    top: 580px;
    right: 230px;
    font-size: 1.2rem;
}

.name5{
    position: absolute;
    top: -190px;
    right: 750px;
    color: rgb(254, 253, 253);
    font-size: 1.4rem;
}

.adress5{
    position: absolute;
    top: 680px;
    right: 100px;

}

.no5{
    position: absolute;
    top: 730px;
    right: 210px;
}

                                /* img6 */

.img6{
    position: absolute;
    top: 900px;
    left: 20px;
}

.city6{
    color: rgb(176, 22, 22);
    position: absolute;
    top: 1180px;
    left: 170px;
    font-size: 1.2rem;
}

.name6{
    position: absolute;
    top: 1220px;
    left: 100px;
    color: white;
    font-size: 1.4rem;
}

.adress6{
    position: absolute;
    top: 1270px;
    left: 90px;

}

.no6{
    position: absolute;
    top: 1305px;
    left: 120px;

}

                                  /* img7 */

.img7{
    position: absolute;
    top: 900px;
    left: 450px;
}

.city7{
    color: rgb(176, 22, 22);
    position: absolute;
    top: 1180px;
    left: 550px;
    font-size: 1.2rem;
}

.name7{
    position: absolute;
    top: 1220px;
    left: 520px;
    color: white;
    font-size: 1.4rem;
}

.adress7{
    position: absolute;
    top: 1270px;
    left: 520px;

}

.no7{
    position: absolute;
    top: 1310px;
    left: 560px;
}

                              /* img8 */

.img8{
    position: absolute;
    top: 900px;
    right: 120px;
}

.city8{
    color: rgb(176, 22, 22);
    position: absolute;
    top: 1180px;
    right: 230px;
    font-size: 1.2rem;
}

.name8{
    position: absolute;
    top: 1210px;
    right: 190px;
    color: white;
    font-size: 1.4rem;
    z-index: 2;
}

.adress8{
    position: absolute;
    top: 1260px;
    right: 140px;

}

.no8{
    position: absolute;
    top: 1320px;
    right: 230px;
}

                              /* img9 */

.img9{
    position: absolute;
    bottom: 800px;
    left: 20px;
}

.city9{
    color: rgb(176, 22, 22);
    position: absolute;
    bottom: 745px;
    left: 130px;
    font-size: 1.2rem;
}

.name9{
    position: absolute;
    bottom: 710px;
    left: 70px;
    color: white;
    font-size: 1.4rem;
}

.adress9{
    position: absolute;
    bottom: 680px;
    left: 60px;

}

.no9{
    position: absolute;
    bottom: 650px;
    left: 90px;
}

                                 /* img10 */

.img10{
    position: absolute;
    bottom: 800px;
    left: 450px;
}

.city10{
    color: rgb(176, 22, 22);
    position: absolute;
    bottom: 745px;
    left: 600px;
    font-size: 1.2rem;
}

.name10{
    position: absolute;
    bottom: 780px;
    left: 300px;
    color: white;
    font-size: 1.4rem;
}

.adress10{
    position: absolute;
    bottom: 700px;
    left: 460px;

}

.no10{
    position: absolute;
    bottom: 650px;
    left: 570px;
}

                                    /* img11 */

.img11{
    position: absolute;
    bottom: 800px;
    right: 120px;
}

.city11{
    color: rgb(176, 22, 22);
    position: absolute;
    bottom: 750px;
    right: 250px;
    font-size: 1.2rem;
}

.name1{
    position: absolute;
    bottom: 790px;
    right: 375px;
    color: rgb(7, 7, 7);
    font-size: 1.4rem;
}

.adress11{
    position: absolute;
    bottom: 700px;
    right: 230px;

}

.no11{
    position: absolute;
    bottom: 650px;
    right: 240px;
}

                                   /* img12 */

.img12{
    position: absolute;
    bottom: 200px;
    left: 450px;
}

.city12{
    color: rgb(176, 22, 22);
    position: absolute;
    bottom: 160px;
    left: 580px;
    font-size: 1.2rem;
}

.name3{
    position: absolute;
    top: -190px;
    left: -275px;
    color: white;
    font-size: 1.4rem;
}

.adress12{
    position: absolute;
    bottom: 120px;
    left: 500px;

}

.no12{
    position: absolute;
    bottom: 90px;
    left: 570px;
}

.no13{
    position: absolute;
    bottom: 65px;
    left: 570px;
}

.parent14{
    position: relative;
    color: white;
}

.box4{
    background-color: rgb(28, 27, 27);
    height: 700px;
    width: 100%;
}

.h5{
    font-size: 1.7rem;
    position: absolute;
    top: -650px;
}

.h6{
    font-size: 1.6rem;
    position: absolute;
    top: -580px;
    left: -40px;
}

.pic1{
    position: absolute;
    left: 30px;
    top: 250px;
}

.city13{
    color: rgb(168, 20, 20);
    font-size: 1.3rem;
    position: absolute;
    right: 500px;
    top: 370px;
}

.name13{
    font-size: 2.2rem;
    position: absolute;
    right: 440px;
    top: 400px;
}

.adress13{
    position: absolute;
    top: 470px;
    right: 140px;
}

.no14{
    position: absolute;
    top: 500px;
    right: 410px;
}

.btn9{
    background-color: rgb(53, 154, 53);
    width: 150px;
    height: 50px;
    border-radius: 30px;
    position: absolute;
    top: 550px;
    right: 480px;
    border: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(53, 154, 53);
}